APP_ENV=development
LOG_LEVEL=INFO

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=stock_predictor

# DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/stock_predictor

DB_ECHO=false
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
